*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--main-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@font-face {
    font-family: 'myfont';
    src: url(./font/Juicy\ Fruit.ttf);
}
@font-face {
    font-family: 'myfont1';
    src: url(./font/Monomod.ttf);
   }
:root{
    --main-color:#212020;
    --second-color:#1bbf28;
    --third-color:white;
    --fourth-color:orange;
}
/* nav section start */
nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: var(--second-color);
}
.logo{
    display: flex;
    align-items: center;
}
.logo span{
    font-size: 2rem;
    font-weight: 50;
    color: var(--third-color);
    font-family: myfont;
}
nav a{
    font-family: myfont1;
    font-weight: bold;
}
.social-link i{
    font-size: 30px;
    margin: 0 10px;
    color: var(--third-color);
}
.logo img{
    transition: 0.6s;
}
.logo img:hover{
    transform: translateY(-20px);
    transform: rotate(360deg);
}
.nav-link a{
    background: var(--third-color);
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.nav-link a:hover{
    background: var(--main-color);
    color: var(--third-color);
}
#bars{
    background: var(--third-color);
    color: var(--second-color);
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* nav section end */
/* banner section start */
.banner{
width: 100%;
height: calc(100vh - 100px) ;
background: url(./gallery/markus-spiske-s05XKB6jK2c-unsplash.jpg);
background-size: cover;
background-position: center;
background-position: 50% 80%;
padding: 200px 0 0 150px;
}
.banner-box {
    width: 50%;
    height: auto;
    /* background: pink; */
}
.banner-box h2{
    font-family: "myfont1";
}
.banner-box h1{
    color: var(--main-color);
    font-family: "myfont";
    letter-spacing: 5px;
    font-weight: bolder;
    margin:10px 0 ;
    font-size: 3rem;
}
.banner-box p{
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: bold;
}
.btn{
    background: var(--second-color);
    color: var(--third-color);
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    margin-top: 15px;
    border-radius: 10px;
    transition: .4s;
}
.btn:hover{
    background: var(--main-color);
    color: var(--third-color);
    cursor: pointer;
}
/* banner section end */
/* about us */
.about-us, .shop{
    width: 100%;
    min-height: 100vh;
    background: var(--third-color);
    display: flex;
    flex-wrap: wrap;
}
.about-us_left, 
.about-us_right{
    flex: 1;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.about-us_left{
    padding-left: 100px;;
}
.about-us_text_gp h2{
   font-size: 50px;
   font-family: "myfont1";
   font-weight: bolder;
}
.about-us_text_gp p{
    font-size: 18px;
    margin-top: 20px;
}
/* gallery start */
#gallery{
    width: 100%;
    min-height: 100vh;
    background: var(--fourth-color);
    padding: 30px;
}
#gallery h2{
    text-align: center;
    font-size: 3rem;
    font-family: "myfont1";
    margin-bottom: 30px;
}
#gallery p{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.gallery-photos{
    display: flex;
    flex-wrap: wrap;
    /* gap= distance between 2 photos */
    gap: 20px;
}
.gallery-photos img{
    flex: 1 1 25rem;
    height: 200px;
    object-fit: cover;
    object-position: 50% 70%;
}
/* gallery end */
/* services start */
#services{
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    color: var(--third-color);
}
#services h2{
    text-align: center;
    font-size: 3rem;
    font-family: "myfont1";
    margin-bottom: 30px;
}
#services p{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.services-photos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.services-photos_card{
    flex: 1 1 23rem;
    height: 240px;
    box-shadow: inset 0 0 3px 3px var(--main-color);
    position: relative;
    overflow: hidden;
}
.services-photo_card_img,
.services-photo_card_text{
    position: absolute;
    width: 100%;
    height: 100%;
}
.services-photo_card_img img{
    width: 100%;
    height: 100%;
}
.services-photo_card_text{
    background: rgba(255, 0, 0, 0.453);
    /* transform: scale(0); */
    transform: translateX(-100%);
    transition: .5s;
}
.services-photos_card:hover 
.services-photo_card_text{
    /* transform: scale(1); */
    transform: translateX(0);
}

.services-photo_card_text_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding-top: 50px;
    cursor: pointer;
}
.btn-seemore{
    display: block;
    padding: 30px;
    text-align: center;
}
.btn-seemore button{
    background: var(--second-color);
        color: var(--third-color);
        padding: 10px 20px;
        border: none;
        font-size: 1rem;
        margin-top: 15px;
        border-radius: 10px;
        transition: .4s;
        cursor: pointer;
}
.btn-seemore button:hover {
    background: var(--main-color);
    color: var(--third-color);
    cursor: pointer;
}
#order{
    background: url(./gallery/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#order h2{
    text-align: center;
    font-size: 3rem;
    font-family: "myfont1";
    margin-bottom: 30px;
}
#order p {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.order-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    gap: 10px;
    justify-content: space-evenly;
}
.order_box1{
    flex: 1 1 1;
    background: var(--fourth-color);
    width: 400px;
    height: 350px;
    transition: .3s;
}
.order_box1 .icon{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
}
.order_box1 h3{
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-family: "myfont1";
}
.order_box1 p{
    padding: 10px;
    font-size: .6rem;
}
.order-btn {
    text-align: center;
}
.order-btn button{
    background: var(--second-color);
    color: var(--third-color);
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.order-btn button:hover {
    background: var(--main-color);
    color: var(--third-color);
}
.testmonial{
    width: 100%;
}
.testmonial h2{
    padding-top: 100px;
    padding-left: 50px;
    font-size: 3rem;
    font-family: "myfont1";
    color:var(--fourth-color);
}
.testmonial p{
    padding: 20px 50px;
    font-size: 1.5rem;
}
.molina{
    width: 100%;
}
.molina h2{
    padding: 20px 200px;
    font-size: 2.5rem;
    font-family: "myfont1";
    color: var(--fourth-color);
    font-weight: bolder;
    display: flex;
}
.molina h2 .icon{
    margin-top: 10px;
    padding-left: 50px;
    color: var(--fourth-color);
}
.molina .text p{
    padding: 20px 100px;
    font-size: 1.2rem;
}
.molina-box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.molina-box1{
    width: 100px;
    height: auto;
    background: var(--main-color);
    border-radius: 20px;
    transition: .2s;
    cursor: pointer;
}
.molina-box1:hover{
    background: var(--fourth-color);
    color: var(--fourth-color);
}
#contact h2{
    text-align: center;
    padding: 20px;
    font-size: 4rem;
    font-family: "myfont";
    font-weight: 200;
}
.message-location{
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form{
    flex: 1;
    background: url(./gallery/strawberry.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form input, textarea{
    display: block;
    width: 400px;
    padding: 20px;
    margin-left: 100px;
    border-radius: 30px;
    border: none;
    outline: none;
}
input::placeholder{
    font-size: 1.3rem;
    padding: 10px;
}
textarea{
    font-size: 1.4rem;
    padding: 10px;
}
.form input[type="text"]{
    margin-top: 30px;
}
.form input[type="email"]{
    margin-top: 10px;
}
.form input[type="tel"]{
    margin-top: 10px;
}
textarea{
    margin-top: 10px;
    margin-bottom: 20px;
}
.location{
    flex: 1;
}

.footer{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background: var(--second-color);
}
.footer h4,p,a{
    color:var(--main-color);
}
.footer .about{
    flex: 1;
    padding: 20px;
}
.footer h4{
    font-size: 2rem;
    margin-bottom: 40px;
}
.footer p{
    font-size: 1.2rem;
}
.footer .menu {
    flex: 1;
    padding: 20px;
}
.footer .menu a{
    display: block;
    font-size: 1rem;
}
.footer .menu a:hover{
    color: var(--fourth-color);
}
.footer .useful-link {
    flex: 1;
    padding: 20px;
}
.footer .contact-us {
    flex: 1;
    padding: 20px;
}
.footer .contact-us a{
    display: flex;
}
.footer .contact-us .icon{
    padding-right: 10px;
}
.footer .contact-us a:hover{
    color: var(--fourth-color);
}
.source p{
    padding: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    word-spacing: 3px;
}




















/* services end */

/*---------------------------------------------media-query------------------------------- */

/* nav section */
@media(max-width:1000px){
    body{
        overflow-x: hidden;
    }
    nav{
        padding: 0 20px;
    }
        .logo span {
            font-size: 1.2rem;
            font-weight: 50;
            color: var(--third-color);
            font-family: myfont;
        }
    #bars{
        display: block;
    }
    .social-link{
        display: none;
    }
    .nav-link{
        /* display: none; */
        transition: 0.5s;
        transform: translateX(100%);
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background: orange;
        padding: 25px 100px;
    }
    .show{
        /* display: block; */
        transform: translateX(0%);
    }
    .nav-link a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
/* banner */
.banner{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-box{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.about-us_left{
    padding: 0;
}
 .about-us_text_gp{
    padding: 30px;
}
.about-us_text_gp h2 {
    text-align: center;
}
.shop{
    display: flex;
    flex-direction: column-reverse;
}
    #order {
            background: url(./gallery/bg.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .molina h2{
            padding-left: 50px;
        }
        .molina .text{
            padding-left: 50px;
        }
        .molina .text p{
            padding-left: 0px;
        }
        .molina-box1{
            width: 50px;
        }
        .message-location{
            flex-direction: column;
        }
        
        .form input,
        textarea {
            display: block;
            padding: 20px;
            margin-left: 100px;
            border-radius: 30px;
            border: none;
            outline: none;
        }
        .footer{
            width: 100%;
            flex-direction: column;
        }
}
